<div>
  <link href="./features.css" rel="stylesheet" />
  <div class="features-section quick-links">
    <div class="features-heading">
      <h3 class="features-header"><span>Virtual Assistant</span></h3>
      <img
        alt="image"
        src="public/playground_assets/arrow.svg"
        class="features-icon"
      />
    </div>
    <p class="features-text">
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
    </p>
    <div class="features-divider"></div>
  </div>
</div>
