<div>
  <link href="./practice.css" rel="stylesheet" />
  <div class="practice-practice">
    <div class="practice-heading">
      <h3 class="practice-header"><span>Cardiology</span></h3>
      <p class="practice-caption">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt.
        </span>
      </p>
    </div>
    <div class="read-more">
      <span class="practice-text">Read more</span>
      <img
        alt="image"
        src="public/playground_assets/arrow-2.svg"
        class="practice-image"
      />
    </div>
  </div>
</div>
